<div class="container-fluid">
  <div class="row go-back-row  px-2">
    <i class="fa-solid fa-arrow-right-long ml-auto" style="color: black ; font-size: 2em; font-weight: 600;"></i>

  </div>
  <div class="row three-bigIcons-row d-flex justify-content-center  px-2 position-relative mb-4">
    <div class="lines-between-bigIcons d-none d-lg-flex position-absolute"
      style="right: 27em; top: 35%; transform: translateY(-50%); ">
      <div class="circle">
      </div>
      <div class="line mt-2">
      </div>
      <div class="circle">
      </div>
    </div>

    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-circle-check" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">الموافقة علي التحليل المضاف</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center ">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-magnifying-glass" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">معايير الأهمية لتحليل اثر الأعمال</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-file-lines" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">تفاصيل تحليل اثر الأعمال</p>
      </div>
    </div>
    <div class="lines-between-bigIcons d-none d-lg-flex position-absolute"
      style="left: 27em; top: 35%; transform: translateY(-50%); ">
      <div class="circle">
      </div>
      <div class="line mt-2">
      </div>
      <div class="circle">
      </div>
    </div>
  </div>
  <div class="approval-document-row d-flex justify-content-center mt-1">
    <div class="approval-document-div">

    </div>
  </div>
</div>