<div class="container-fluid">
  <div class="row go-back-row  px-2">
    <i class="fa-solid fa-arrow-right-long ml-auto" style="color: black ; font-size: 2em; font-weight: 600;"></i>

  </div>
  <div class="row three-bigIcons-row d-flex justify-content-center  px-2 position-relative mb-4">
    <div class="lines-between-bigIcons d-none d-lg-flex position-absolute"
      style="right: 27em; top: 35%; transform: translateY(-50%); ">
      <div class="circle">
      </div>
      <div class="line mt-2">
      </div>
      <div class="circle">
      </div>
    </div>

    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-circle-check" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">الموافقة علي التحليل المضاف</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center ">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-magnifying-glass" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">معايير الأهمية لتحليل اثر الأعمال</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-4   d-flex justify-content-center flex-column align-items-center">
      <div class="big-icon-container d-flex justify-content-center align-items-center">
        <i class="fa-regular fa-file-lines" style="color: white;font-size: 2.2em;"></i>
      </div>
      <div class="word-under-icon  mt-2">
        <p class="">تفاصيل تحليل اثر الأعمال</p>
      </div>
    </div>
    <div class="lines-between-bigIcons d-none d-lg-flex position-absolute"
      style="left: 27em; top: 35%; transform: translateY(-50%); ">
      <div class="circle">
      </div>
      <div class="line mt-2">
      </div>
      <div class="circle">
      </div>
    </div>
  </div>
  <div class="approval-document-row d-flex justify-content-center mt-1">
    <div class="approval-document-div d-flex flex-column px-4 ">
      <div class="row-approval-doc-title d-flex mt-2" style="direction: rtl;">
        <div class="icon">
          <i class="fa-solid fa-file-signature" style="font-size: 30px;"></i>
        </div>
        <div class="title mx-3 pt-1">
          <p style="font-size: 22px; font-weight: 600;">
            أستمارة الموافقة
          </p>
        </div>
      </div>
      <div class="line-under-title mt-3" style="width: 100%; height: .2em;background-color: #FCFCFC;">

      </div>
      <div class="row enter-details-title mt-2 px-5" style="direction: rtl; font-size: 20px;">
        قم بإدخال تفاصيل استمارة الموافقة
      </div>
      <div class="row first-input-autor px-5 mt-3" style="direction: rtl;">
        <div class="col-lg-6" style="text-align: right;">
          <label class="mb-0" for="">المؤلف*</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>اختر</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
        <div class="col-lg-6" style="text-align: right;">
          <label class="mb-0" for="">المراجع*</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>اختر</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
      </div>
      <div class="row second-input px-5 mt-4" style="direction: rtl;">
        <div class="col-lg-6" style="text-align: right;">
          <label class="mb-0" for="">الوافق*</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>اختر</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
        <div class="col-lg-6" style="text-align: right;">
          <label class="mb-0" for="">الحالة*</label>
          <select class="form-control pl-5" style="height: 2em;" aria-label="Search">
            <option value="" disabled selected>اختر</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>

        </div>
      </div>
      <div class="row third-input px-5 mt-4 mb-5" style="direction: rtl;">
        <div class="col-lg-3" style="text-align: right;">
          <label class="mb-0" for="">تاريخ المراجعة الأخيرة*</label>
          <input class="form-control pl-5" style="height: 2em;" type="date" aria-label="Search">


        </div>
        <div class="col-lg-3" style="text-align: right;">
          <label class="mb-0" for="">تاريخ المراجعة القادم*</label>
          <input class="form-control pl-5" style="height: 2em;" type="date" aria-label="Search">

        </div>
      </div>
      <div class="row  row-for-buttons mt-auto mb-4 mt-5 mx-2" style="direction: rtl;">
        <div class="col-md-6 d-flex   px-0">
          <button class="save"
            style="border-radius: 5px;padding: .5em 2.4em; background-color: var(--primary-color); color: white; border: none;">حفظ</button>
        </div>
        <div class="col-md-6 d-flex justify-content-end px-0">
          <button class="save mx-1"
            style="border-radius: 5px;padding: .5em 2.4em; border-color: var(--primary-color); color: var(--primary-color) ;background-color: transparent;border-style: solid;">حفظ
            كمسودة</button>
          <button class="save mx-1"
            style="border-radius: 5px;padding: .5em 2.4em; border-color: red; color: red ;background-color: transparent;border-style: solid;">إلغاء</button>
        </div>
      </div>
    </div>

  </div>
</div>