<div class="sidebar-div px-3" [class.collapsed]="isCollapsed">
  <div class="row d-flex justify-content-between logo-div px-3 mb-4">
    <div class="mt-3 menu-icon" (click)="toggleSidebar()">
      <img src="../../../assets/image/menu-icon.png" alt="">
    </div>
    <div *ngIf="!isCollapsed">
      <img src="assets/image/logo.png" alt="">
    </div>
    <div class="line-under-title mt-3" *ngIf="!isCollapsed"
      style="width: 100%; height: .2em;background-color: #fcfcfc;"></div>
  </div>

  <ul *ngIf="!isCollapsed">
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">الرئيسية</a>
        <div class="icon-container">
          <i class="fa-solid fa-tv"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">الخطط</a>
        <div class="icon-container">
          <i class="fa-regular fa-newspaper"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">العمليات</a>
        <div class="icon-container">
          <i class="fa-solid fa-clapperboard"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">تحليل اثر العمليات</a>
        <div class="icon-container">
          <i class="fa-solid fa-cube"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">المخاطر</a>
        <div class="icon-container">
          <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">بيانات المؤسسة</a>
        <div class="icon-container">
          <i class="fa-solid fa-database"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">المستخدمين</a>
        <div class="icon-container">
          <i class="fa-regular fa-user"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">التقارير</a>
        <div class="icon-container">
          <i class="fa-regular fa-paste"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">الإستبيان</a>
        <div class="icon-container">
          <i class="fa-regular fa-folder-open"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">التوعية والتدريب</a>
        <div class="icon-container">
          <i class="fa-solid fa-microscope"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">البلاغات</a>
        <div class="icon-container">
          <i class="fa-solid fa-headphones"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">إدارة المهام</a>
        <div class="icon-container">
          <i class="fa-brands fa-square-steam"></i>
        </div>
      </div>
    </li>
    <li>
      <div>
        <i class="fa-solid fa-arrow-left-long" style="color: black;"></i>
      </div>
      <div class="d-flex">
        <a href="" class="mx-2">الإعدادات</a>
        <div class="icon-container">
          <i class="fa-solid fa-gear"></i>
        </div>
      </div>
    </li>
  </ul>
</div>