html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.fa-solid,
.fa-regular,
.fa,
.fa-light {
  color: #5B008A;
}

input {
  direction: rtl;

  &::placeholder {
    text-align: right;
  }
}